* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* common styles */

.btn-primary {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
}
.container 
{
    max-width: 1200px;
    margin: auto;
}

.dark-2
{
    color: #474747;
}

.dark-3
{
    color: #757575;
}

/* Header section */
header {
  background-color: #fff8f3;
}
/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.logo {
  font-weight: 800;
  font-size: 35px;
}
.logo-r {
  color: #fd6e0a;
}

/* banner styles */
.banner-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text h3 
{
    font-weight: 700;
    font-size: 35px;
}

.banner-text h2 
{
    font-weight: bold;
    font-size: 70px;
}

.banner-text p
{
    font-size: 14px;
    margin-bottom: 24px;
}
.banner-img img{
    max-width: 100%;
}

.btn-secondary
{
    background-color: white;
    border-color: #fd6e0a;
    color: #fd6e0a;
    font-weight: bold;
    font-size: 18px;
    padding: 12px 25px;
    border-radius: 5px;
    margin-left: 24px;
}
