* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* common styles */
.btn-primary {
  font-weight: bold;
  font-size: 18px;
  color: white;
  background-color: #fd6e0a;
  border: none;
  border-radius: 5px;
  padding: 12px 25px;
}
.container {
  max-width: 1200px;
  margin: auto;
}

main section {
  margin-bottom: 100px;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.primary-bg-color {
  background-color: #fff8f3;
}

/* Header section */
header {
  margin-bottom: 100px;
}
/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
}

ul li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
}

.logo {
  font-weight: 800;
  font-size: 35px;
}
.logo-r {
  color: #fd6e0a;
}

/* banner styles */
.banner-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-text h3 {
  font-weight: 700;
  font-size: 35px;
}

.banner-text h2 {
  font-weight: bold;
  font-size: 70px;
}

.banner-text p {
  font-size: 14px;
  margin-bottom: 24px;
}
.banner-img img {
  max-width: 100%;
}

.btn-secondary {
  background-color: white;
  border-color: #fd6e0a;
  color: #fd6e0a;
  font-weight: bold;
  font-size: 18px;
  padding: 12px 25px;
  border-radius: 5px;
  margin-left: 24px;
}

/* About section style */

.about-me {
  text-align: center;
  padding: 100px 150px;
}

.about-me p {
  margin: 30px 0;
}

.about-cards {
  display: flex;
  justify-content: space-around;
}

/* What I do section styles */
.what-I-do {
  text-align: center;
}

.what-I-do > p {
  margin: 30px auto 50px;
  width: 900px;
}

.what-I-do-card-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
}

.what-I-do-card {
  text-align: left;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.what-I-do-card h3 {
  margin: 20px 0;
}

/* Amazing Work section styles */

.amazing-work 
{
  text-align: center;
}

.amazing-work h2
{
  margin-bottom: 50px;
}

.gallery 
{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  grid-template-areas:
  "one three five"
  "one three six"
  "two three six"
  "two four six";
}

.gallery-card-1
{
  grid-area: one;
}
.gallery-card-2
{
  grid-area: two;
}
.gallery-card-3
{
  grid-area: three;
}
.gallery-card-4
{
  grid-area: four;
}
.gallery-card-5
{
  grid-area: five;
}
.gallery-card-6
{
  grid-area: six;
}